frameworks-project/frameworks/osm/1.0/schemas/categories/general.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--$Id: general.xsd,v 1.11 2010/04/08 19:55:18 ginger Exp $-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" 
attributeFormDefault="unqualified" 
version="1.00">	
	<xs:annotation>
		<xs:documentation>*********************************************</xs:documentation>
		<xs:documentation>*****  SCHEMA DEVELOPMENT  *****</xs:documentation>
		<xs:documentation>*********************************************</xs:documentation>
		<xs:documentation>Created: 2009-11-23</xs:documentation>
		<xs:documentation>Author: Katy Ginger, University Corporation for Atmospheric Research (UCAR), ginger@ucar.edu</xs:documentation>
		<xs:documentation>Purpose: To describe the general characteristics of objects such as title, description.</xs:documentation>
	</xs:annotation>

	<xs:annotation>
		<xs:documentation>*******************************************************</xs:documentation>
		<xs:documentation>*****  INCLUDED/ IMPORTED SCHEMAS  *****</xs:documentation>
		<xs:documentation>*******************************************************</xs:documentation>
		<xs:documentation>Included schemas contain controlled vocabulary terms for elements defined in this schema</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="commonfields.xsd"/>
	<xs:include schemaLocation="../vocabs/OSMsubject.xsd"/>
	<xs:include schemaLocation="../vocabs/LCSHsubject.xsd"/>
	<xs:include schemaLocation="../vocabs/pubName.xsd"/>
	<xs:include schemaLocation="../vocabs/NCARbookPubName.xsd"/>
	<xs:include schemaLocation="../vocabs/pubNameType.xsd"/>
	<xs:include schemaLocation="../vocabs/relationType.xsd"/>	
	<xs:include schemaLocation="../vocabs/titleType.xsd"/>

	<xs:annotation>
		<xs:documentation>**********************************</xs:documentation>
		<xs:documentation>*****  ROOT ELEMENT  *****</xs:documentation>
		<xs:documentation>**********************************</xs:documentation>
		<xs:documentation>None.</xs:documentation>
	</xs:annotation>

	<xs:annotation>
		<xs:documentation>************************************************</xs:documentation>
		<xs:documentation>*****  COMPLEX TYPES (alpha order)   *****</xs:documentation>
		<xs:documentation>************************************************</xs:documentation>
		<xs:documentation>generalType - part of recordType</xs:documentation>
	</xs:annotation>

	<xs:complexType name="generalType">
		<xs:annotation>
			<xs:documentation>*****  generalType  ******</xs:documentation>
			<xs:documentation>generalType - general characteristics of a resource</xs:documentation>
			<xs:documentation>recordID - a unique identification number used to identify an individual record</xs:documentation>
			<xs:documentation>recordDate - the creation date of the object's metadata record</xs:documentation>
			<xs:documentation>urlOfRecord - a viewable or citeable URL for information about the resource</xs:documentation>
			<xs:documentation>pubName - the name of the publication in which a published work appears</xs:documentation>
			<xs:documentation>volume - a high-order divsion of a work</xs:documentation>
			<xs:documentation>issue - a lower-order division of a work that may or may reoccur on a regular basis</xs:documentation>
			<xs:documentation>edition - another version or issue of a published work</xs:documentation>
			<xs:documentation>pages - an indication of the relevant pages covered by the resource or the total number of pages of a work</xs:documentation>
			<xs:documentation>title - a name given to a resource</xs:documentation>
			<xs:documentation>altTitle - an alternative name given to a resource</xs:documentation>
			<xs:documentation>earlierTitle - a previous alternative name given to a resource</xs:documentation>
			<xs:documentation>laterTitle - a later name given to a resource that is different than the current cataloged name</xs:documentation>
			<xs:documentation>description - an account or explanation of of the content of a resource</xs:documentation>
			<xs:documentation>abstract - an brief account or explanation of of the content of a resource</xs:documentation>
			<xs:documentation>keyword -  terms or short explanations the describe a the content of a resource</xs:documentation>
			<xs:documentation>OSMsujbect - keywords from the OSM controlled vocabulary</xs:documentation>
			<xs:documentation>LCSHsubject - keywords from the Library of Congress Subject Headings (LCSH)</xs:documentation>
			<xs:documentation>asset -a resource within the NLDR that represents the item being cataloged or is associated with the item being cataloged</xs:documentation>
			<xs:documentation>relation - a resource that is related to or is the actual item being cataloged</xs:documentation>
		</xs:annotation>	
		<xs:sequence>
			<xs:element name="recordID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="recordDate" type="union.dateType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="urlOfRecord" type="urlType" minOccurs="0" maxOccurs="1"/>
<!--			<xs:element name="pubName" type="pubNameType" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="pubName" type="pubNameAllType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="volume" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="issue" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="edition" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pages" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--			<xs:element name="title" type="xs:string" minOccurs="1" maxOccurs="1"/>-->
			<xs:element name="title" type="titleType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="altTitle" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="earlierTitle" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="laterTitle" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="abstract" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="keyword" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OSMsubject" type="OSMsubjectType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LCSHsubject" type="LCSHsubjectType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="asset" type="assetType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="relation" type="relationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="assetType">
		<xs:annotation>
			<xs:documentation>*****  assetType  ******</xs:documentation>
		<xs:documentation>assetType - a description and other characteristics about the actual or related items held in the NLDR</xs:documentation> 
		<xs:documentation>type - kind of relation between the item withing the NLDR and item being cataloged</xs:documentation>
		<xs:documentation>title - the name of the item held in the NLDR</xs:documentation> 
		<xs:documentation>order - a numerical number indicating the order the assets should be listed in</xs:documentation> 
		<xs:documentation>description - an account or explanation of of the content of the asset</xs:documentation> 
		<xs:documentation>url - the web address of the assest in the NLDR repository</xs:documentation> 
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="relationTypeType" use="required"/>
				<xs:attribute name="order" type="xs:nonNegativeInteger" use="optional"/>
				<xs:attribute name="title" type="xs:string" use="optional"/>
				<xs:attribute name="url" type="urlType" use="required"/>
				<xs:attribute name="description" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>	
	</xs:complexType>

	<xs:complexType name="relationType">
		<xs:annotation>
			<xs:documentation>*****  relationType  ******</xs:documentation>
			<xs:documentation>relationType - a description and other characteristics about the actual or related resource</xs:documentation>
			<xs:documentation>title - a name given to the related resource</xs:documentation>
			<xs:documentation>description - an account or explanation of of the content of the related resource</xs:documentation>
			<xs:documentation>type - the kind of relationship with the related resource</xs:documentation>
			<xs:documentation>url - the web address of the related resource</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="relationTypeType" use="required"/>
				<xs:attribute name="title" type="xs:string" use="optional"/>
				<xs:attribute name="url" type="urlType" use="optional"/>
				<xs:attribute name="description" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>	
	</xs:complexType>

	<xs:complexType name="titleType">
		<xs:annotation>
			<xs:documentation>*****  titleType  ******</xs:documentation>
			<xs:documentation>type - the kind of resource that is being cataloged</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="stringTextType">
				<xs:attribute name="type" type="titleTypeType" use="required"/>
			</xs:extension>
		</xs:simpleContent>	
	</xs:complexType>

	<xs:complexType name="pubNameAllType">
		<xs:annotation>
			<xs:documentation>*****  pubNameAllType  ******</xs:documentation>
			<xs:documentation>type - the kind of publication</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="union.pubNameType"><!--2010-01-08: changed from: pubNameType to union.pubNameType-->
				<xs:attribute name="type" type="pubNameTypeType" use="required"/>
			</xs:extension>
		</xs:simpleContent>	
	</xs:complexType>

	<xs:annotation>
		<xs:documentation>************************************************</xs:documentation>
		<xs:documentation>*****  SIMPLE TYPES (alpha order)   *****</xs:documentation>
		<xs:documentation>************************************************</xs:documentation>
		<xs:documentation></xs:documentation>
	</xs:annotation>
	<xs:simpleType name="union.pubNameType">
		<xs:annotation>
			<xs:documentation>***** union.pubNameType  *****</xs:documentation>
			<xs:documentation>Combines the pubNames from WOS, PUBS and NARs (pubNameType) and NCAR authored books (NCARbookType).</xs:documentation>
			</xs:annotation> 
		<xs:union memberTypes="pubNameType NCARbookType"/>
	</xs:simpleType>

	
</xs:schema>
<!--LICENSE AND COPYRIGHT
The contents of this file are subject to the Educational Community License v1.0 (the "License"); you may not use this file except in compliance with the License. You should obtain a copy of the License from http://www.opensource.org/licenses/ecl1.php. Files distributed under the License are distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for the specific language governing rights and limitations under the License. Copyright 2002-2009 by Digital Learning Sciences, University Corporation for Atmospheric Research (UCAR). All rights reserved.-->
