dcs-webapp/web/WEB-INF/metadata-frameworks/dcs-data/dcs-data-v0-0-3.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Jonathan Ostwald (UCAR) --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">	<xsd:include schemaLocation="categories/metaMetadata.xsd"/>	<xsd:element name="dcsDataRecord" type="dcsDataType"/>	<xsd:complexType name="dcsDataType">		<xsd:all>			<xsd:element name="recordID" type="xsd:string"/>			<xsd:element name="isValid" type="xsd:boolean"/>			<xsd:element name="statusEntries" type="statusEntriesType">				<xsd:annotation>					<xsd:documentation>A list of status Entries, sorted with most recent first</xsd:documentation>				</xsd:annotation>			</xsd:element>			<xsd:element name="lastTouchDate" type="union.dateType">				<xsd:annotation>					<xsd:documentation>timeStamp of when the sourceRecord (adn, news-opps) was last modified</xsd:documentation>				</xsd:annotation>			</xsd:element>		</xsd:all>	</xsd:complexType>	<xsd:complexType name="statusEntryType">		<xsd:annotation>			<xsd:documentation>A new status Entry gets created each time the status is edited.</xsd:documentation>		</xsd:annotation>		<xsd:all>			<xsd:element name="editor" type="stringTextType"/>			<xsd:element name="status" type="xsd:string"/>			<xsd:element name="statusNote" type="xsd:string"/>			<xsd:element name="changeDate" type="union.dateType">				<xsd:annotation>					<xsd:documentation>timestamp of when status was last edited</xsd:documentation>				</xsd:annotation>			</xsd:element>		</xsd:all>	</xsd:complexType>	<xsd:complexType name="statusEntriesType">		<xsd:sequence>			<xsd:element name="statusEntry" type="statusEntryType" maxOccurs="unbounded"/>		</xsd:sequence>	</xsd:complexType></xsd:schema>