frameworks-project/frameworks/osm/1.1/schemas/categories/contributors-w-affiliation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--$Id: contributors-w-affiliation.xsd,v 1.2 2010/10/11 21:59:14 ginger Exp $-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" 
attributeFormDefault="unqualified" 
version="1.00">	
	<xs:annotation>
		<xs:documentation>*********************************************</xs:documentation>
		<xs:documentation>*****  SCHEMA DEVELOPMENT  *****</xs:documentation>
		<xs:documentation>*********************************************</xs:documentation>
		<xs:documentation>Created: 2009-11-23</xs:documentation>
		<xs:documentation>Author: Katy Ginger, University Corporation for Atmospheric Research (UCAR), ginger@ucar.edu</xs:documentation>
		<xs:documentation>Purpose: To describe the general characteristics of objects such as title, description.</xs:documentation>
	</xs:annotation>

	<xs:annotation>
		<xs:documentation>**********************************************************</xs:documentation>
		<xs:documentation>*****  HISTORY OF IMPORTANT CHANGES  *****</xs:documentation>
		<xs:documentation>**********************************************************</xs:documentation>
		<xs:documentation>2010-04-08: Made instDivision and instProject repeating but purposely left instName non-repeating; if a perons is associated with two or more institutions, then repeat the person tag set with the second institution name.</xs:documentation>
	</xs:annotation>

	<xs:annotation>
		<xs:documentation>*******************************************************</xs:documentation>
		<xs:documentation>*****  INCLUDED/ IMPORTED SCHEMAS  *****</xs:documentation>
		<xs:documentation>*******************************************************</xs:documentation>
		<xs:documentation>Included schemas contain controlled vocabulary terms for elements defined in this schema</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="commonfields.xsd"/>
	<xs:include schemaLocation="../vocabs/role.xsd"/>
	<xs:include schemaLocation="../vocabs/instName.xsd"/>
	<xs:include schemaLocation="../vocabs/instDivision.xsd"/>
	<xs:include schemaLocation="../vocabs/instProject.xsd"/>

	<xs:annotation>
		<xs:documentation>**********************************</xs:documentation>
		<xs:documentation>*****  ROOT ELEMENT  *****</xs:documentation>
		<xs:documentation>**********************************</xs:documentation>
		<xs:documentation>None.</xs:documentation>
	</xs:annotation>

	<xs:annotation>
		<xs:documentation>***************************************************</xs:documentation>
		<xs:documentation>*****  COMPLEX TYPES (alpha order)   *****</xs:documentation>
		<xs:documentation>***************************************************</xs:documentation>
		<xs:documentation>contributorsType - part of recordType</xs:documentation>
	</xs:annotation>

<xs:complexType name="contactInfoType">
		<xs:annotation>
			<xs:documentation>*****  contactInfoType  ******</xs:documentation>
			<xs:documentation>*****  contactInfoType  ******</xs:documentation>
			<xs:documentation>email - the Internet contact address of a person</xs:documentation>
			<xs:documentation>phone - the phone nubmer of a person</xs:documentation>
		</xs:annotation>	
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="email" type="xs:string" use="required"/><!--data enforce these?-->
				<xs:attribute name="phone" type="xs:string" use="optional"/><!--data enforce these?-->
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="contributorsType">
		<xs:annotation>
			<xs:documentation>*****  contributorsType  ******</xs:documentation>
			<xs:documentation>contributor - a list of people or organizations responsible for making contributions to the content of the resource</xs:documentation>
			<xs:documentation>person - an entity responsible for making contributions to the content of the resource</xs:documentation>
			<xs:documentation>organization - an entity responsible for making contributions to the content of the resource</xs:documentation>
		</xs:annotation>	
		<xs:choice minOccurs="1" maxOccurs="unbounded">
			<xs:element name="person" type="personType" minOccurs="0"/>
			<xs:element name="organization" type="organizationType" minOccurs="0"/>			
		</xs:choice>
	</xs:complexType>

<!--
	<xs:complexType name="organizationType">
		<xs:annotation>
			<xs:documentation>*****  organizationType  ******</xs:documentation>
			<xs:documentation>instName - the institution or organization that the person is affiliated with</xs:documentation>
			<xs:documentation>instDivision - a division within an institution or organization that the person is affiliated with</xs:documentation>
			<xs:documentation>instProject - a project within an institution or organization that the person is affiliated with</xs:documentation>
			<xs:documentation>role - the function of the person or entity in terms of their contribution to the creation of the resource</xs:documentation>
		</xs:annotation>	
		<xs:sequence>
			<xs:element name="instName" type="instNameType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="instDivision" type="union.instDivisionType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="instProject" type="instProjectType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="role" type="roleType" use="required"/>
	</xs:complexType>


	<xs:complexType name="personType">
		<xs:annotation>
			<xs:documentation>*****  personType  ******</xs:documentation>
			<xs:documentation>lastName - the last or family name of a person</xs:documentation>
			<xs:documentation>firstName - the first or common name of a person</xs:documentation>
			<xs:documentation>middleName - the first middle name of a person</xs:documentation>
			<xs:documentation>secondMiddleName - the second middle name of a person</xs:documentation>
			<xs:documentation>suffix - a family name suffix that distinguishes between similarily named family members</xs:documentation>
			<xs:documentation>publishingName - a name under which the peron creates published works</xs:documentation>
			<xs:documentation>contactInfo - phone or email information for a person</xs:documentation>
			<xs:documentation>instName - the institution or organization that the person is affiliated with</xs:documentation>
			<xs:documentation>instDivision - a division within an institution or organization that the person is affiliated with</xs:documentation>
			<xs:documentation>instProject - a project within an institution or organization that the person is affiliated with</xs:documentation>
			<xs:documentation>role - the function of the person or entity in terms of their contribution to the creation of the resource</xs:documentation>
			<xs:documentation>order - an integer number idicating a desired sequence for persons associated with the resource</xs:documentation>
			<xs:documentation>UCARid - the UCAR people databate identification number for a person</xs:documentation>
			<xs:documentation>PUBSid - the PUBS database identifcation number for a person</xs:documentation>
		</xs:annotation>	
		<xs:sequence>
			<xs:element name="lastName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="firstName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="middleName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="secondMiddleName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="suffix" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="publishingName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="contactInfo" type="contactInfoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="instName" type="instNameType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="instDivision" type="union.instDivisionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="instProject" type="instProjectType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="instName2" type="instNameType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="instDivision2" type="union.instDivisionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="instProject2" type="instProjectType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="instName3" type="instNameType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="instDivision3" type="union.instDivisionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="instProject3" type="instProjectType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="role" type="roleType" use="required"/>
		<xs:attribute name="order" type="xs:string" use="optional"/>
		<xs:attribute name="UCARid" type="xs:nonNegativeInteger" use="optional"/>
		<xs:attribute name="PUBSid" type="xs:nonNegativeInteger" use="optional"/>
-->
		<!--other ids like OCLC, Thompson, ArXiv may need to be added later-->
<!--	</xs:complexType>-->
	

<!--new-->
	<xs:complexType name="organizationType">
		<xs:annotation>
			<xs:documentation>*****  organizationType  ******</xs:documentation>
			<xs:documentation>affiliation - an institutional name, division or project information for a person</xs:documentation>
			<xs:documentation>role - the function of the person or entity in terms of their contribution to the creation of the resource</xs:documentation>
		</xs:annotation>	
		<xs:sequence>
			<xs:element name="affiliation" type="affiliationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="role" type="roleType" use="required"/>
	</xs:complexType>

	<xs:complexType name="personType">
		<xs:annotation>
			<xs:documentation>*****  personType  ******</xs:documentation>
			<xs:documentation>lastName - the last or family name of a person</xs:documentation>
			<xs:documentation>firstName - the first or common name of a person</xs:documentation>
			<xs:documentation>middleName - the first middle name of a person</xs:documentation>
			<xs:documentation>secondMiddleName - the second middle name of a person</xs:documentation>
			<xs:documentation>suffix - a family name suffix that distinguishes between similarily named family members</xs:documentation>
			<xs:documentation>publishingName - a name under which the peron creates published works</xs:documentation>
			<xs:documentation>contactInfo - phone or email information for a person</xs:documentation>
			<xs:documentation>affiliation - an institutional name, division or project information for a person</xs:documentation>
			<xs:documentation>role - the function of the person or entity in terms of their contribution to the creation of the resource</xs:documentation>
			<xs:documentation>order - an integer number idicating a desired sequence for persons associated with the resource</xs:documentation>
			<xs:documentation>UCARid - the UCAR people databate identification number for a person</xs:documentation>
			<xs:documentation>PUBSid - the PUBS database identifcation number for a person</xs:documentation>
		</xs:annotation>	
		<xs:sequence>
			<xs:element name="lastName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="firstName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="middleName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="secondMiddleName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="suffix" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="publishingName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="contactInfo" type="contactInfoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="affiliation" type="affiliationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="role" type="roleType" use="required"/>
		<xs:attribute name="order" type="xs:string" use="optional"/>
		<xs:attribute name="UCARid" type="xs:nonNegativeInteger" use="optional"/>
		<xs:attribute name="PUBSid" type="xs:nonNegativeInteger" use="optional"/>
		<!--other ids like OCLC, Thompson, ArXiv may need to be added later-->
	</xs:complexType>

	<xs:complexType name="affiliationType">
		<xs:annotation>
			<xs:documentation>*****  affiliationType  ******</xs:documentation>
			<xs:documentation>instName - the institution or organization that the person is affiliated with</xs:documentation>
			<xs:documentation>instDivision - a division within an institution or organization that the person is affiliated with</xs:documentation>
			<xs:documentation>instProject - a project within an institution or organization that the person is affiliated with</xs:documentation>
		</xs:annotation>	
		<xs:sequence>
			<xs:element name="instName" type="instNameType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="instDivision" type="union.instDivisionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="instProject" type="instProjectType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>


<!--end new-->



	<xs:annotation>
		<xs:documentation>************************************************</xs:documentation>
		<xs:documentation>*****  SIMPLE TYPES (alpha order)   *****</xs:documentation>
		<xs:documentation>************************************************</xs:documentation>
		<xs:documentation></xs:documentation>
	</xs:annotation>
	<xs:simpleType name="union.instDivisionType">
		<xs:annotation>
			<xs:documentation>***** union.instDivisionType  *****</xs:documentation>
			<xs:documentation>Combines the current and historical UCAR divisional names of instDivisionCurrentType and instDivisionHistoricalType</xs:documentation>
			</xs:annotation> 
		<xs:union memberTypes="instDivisionCurrentType instDivisionHistoricalType"/>
	</xs:simpleType>

	
</xs:schema>
<!--LICENSE AND COPYRIGHT
The contents of this file are subject to the Educational Community License v1.0 (the "License"); you may not use this file except in compliance with the License. You should obtain a copy of the License from http://www.opensource.org/licenses/ecl1.php. Files distributed under the License are distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for the specific language governing rights and limitations under the License. Copyright 2002-2009 by Digital Learning Sciences, University Corporation for Atmospheric Research (UCAR). All rights reserved.-->
