frameworks-project/frameworks/library_dc/1.1/schemas/library_dc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: library_dc.xsd,v 1.10 2009/09/17 20:33:33 ginger Exp $ -->
<xs:schema 
targetNamespace="http://nldr.library.ucar.edu/metadata/library_dc" 
xmlns="http://nldr.library.ucar.edu/metadata/library_dc"   
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" 
attributeFormDefault="unqualified" 
version="1.1">
	<xs:annotation>
		<xs:documentation>************************************************</xs:documentation>
		<xs:documentation>***** SCHEMA PUPOSE  and INTENT  *****</xs:documentation>
		<xs:documentation>************************************************</xs:documentation>
		<xs:documentation>Defines a schema for the NCAR library repository that includes typical Dublin Core fields but library-specific fields as well.</xs:documentation>
		<xs:documentation>The library_dc schema is based on Dublin Core for the Dublin Core fields (but does not call a schema at Dublin Core except for vocabulary fields). The only DC vocabulary schema imported is for the dc:type field. The lang attribute on DC fields is not supported. And the Dublin Core fields like title, description, subject are not in a Dublin Core namespace.</xs:documentation>
		
		<xs:documentation>******************************</xs:documentation>
		<xs:documentation>*****  NAMESPACES  *****</xs:documentation>
		<xs:documentation>******************************</xs:documentation>
		<xs:documentation>This schema has a target namespaces of: http://nldr.library.ucar.edu/metadata/library_dc</xs:documentation>
		<xs:documentation>This schema has a default namespace</xs:documentation>

		<xs:documentation>****************************************************</xs:documentation>
		<xs:documentation>***** SCHEMAS TO INCLUDE or IMPORT *****</xs:documentation>
		<xs:documentation>****************************************************</xs:documentation>
		<xs:documentation>Different controlled vocabulary schema.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="vocabs/type-DCvocab-nolang.xsd"/>
	<xs:include schemaLocation="vocabs/libraryType.xsd"/>
	<xs:include schemaLocation="vocabs/instDivision.xsd"/>
	<xs:include schemaLocation="vocabs/instName.xsd"/>
	<xs:include schemaLocation="vocabs/relationType.xsd"/>
	<xs:include schemaLocation="vocabs/mimeType.xsd"/>
	<xs:include schemaLocation="vocabs/rightsStatus.xsd"/>
	
	<xs:annotation>
		<xs:documentation>********************************</xs:documentation>
		<xs:documentation>*****  ROOT ELEMENT *****</xs:documentation>
		<xs:documentation>********************************</xs:documentation>
		<xs:documentation>This schema has a root element of: record</xs:documentation>
		<xs:documentation>Included schemas do not have a root element</xs:documentation>
	</xs:annotation>
	<xs:element name="record" type="recordType"/>

	<xs:annotation>
		<xs:documentation>***************************************************</xs:documentation>
		<xs:documentation>*****  COMPLEX TYPES (alpha order)   *****</xs:documentation>
		<xs:documentation>***************************************************</xs:documentation>
		<xs:documentation>recordType - is root element type</xs:documentation>
	</xs:annotation>
	
	<xs:complexType name="recordType">
		<xs:annotation>
			<xs:documentation>*****  recordType  ******</xs:documentation>
			<xs:documentation>recordID - a unique identification number used to identify an individual resource</xs:documentation>
			<xs:documentation>dateCataloged - the calendar date when the resource is cataloged in the form YYYY-MM-DD. Auto generated.</xs:documentation>
			<xs:documentation>URL - URL associated with the metadata. It will be system generated (eventually) when a pdf document is uploaded with metadata.</xs:documentation>
			<xs:documentation>volume - a higher-order numeration of a resource.</xs:documentation>
			<xs:documentation>issue - a lower-order numeration of a resource.</xs:documentation>
			<xs:documentation>source - a reference to a resource from which the present resource is derived.</xs:documentation>
			<xs:documentation>title - name given to a resource.</xs:documentation>
			<xs:documentation>altTitle - name a resource is commonly known by or an abbreviation of a resource title.</xs:documentation>
			<xs:documentation>earlierTitle - name of previous editions of the same resource.</xs:documentation> 
			<xs:documentation>laterTitle - name of an edition that continues the same resource.</xs:documentation>
			<xs:documentation>creator - an entity primarily responsible for making the content of a resource.</xs:documentation>
			<xs:documentation>contributor - an entity responsible for making contributions to the content of a resource.</xs:documentation>
			<xs:documentation>description - a textual narrative describing the content, purpose, organization or goal of a resource.</xs:documentation>
			<xs:documentation>date - a date associated with the creation or availability of a resource.</xs:documentation>
			<xs:documentation>dateDigitized - the date associated with the date the item is available electronically, either digitized or put at a URL.</xs:documentation>
			<xs:documentation>subject - keywords about the general content or topic addressed by a resource.</xs:documentation>
			<xs:documentation>instName - entity/organization/institution responsible for making a resource available within the UCAR/NCAR/UOP community.</xs:documentation>
			<xs:documentation>instDivision - the department/division of instName that is responsible for making a resource available within the UCAR/NCAR/UOP community.</xs:documentation>
			<xs:documentation>libraryType - the UCAR/NCAR/UOP classification of the original work of a resource.</xs:documentation>
			<xs:documentation>otherType - nature or genre of the content of the resource.</xs:documentation>
			<xs:documentation>format - media type (e.g. pdf), dimensions, extent or size of a resource.</xs:documentation>
			<xs:documentation>identifier - a location where the document/resource permanently exists.</xs:documentation>
			<xs:documentation>language - the language of the intellectual content of a resource.</xs:documentation>
			<xs:documentation>relation - a reference to a related resource.</xs:documentation>
			<xs:documentation>coverage - the extent or scope (spatial, temporal or jurisdiction) of the content of a resource.</xs:documentation>
			<xs:documentation>rights - information about rights held in or over a resource.</xs:documentation>
			<xs:documentation>publisher - an entity external to the UCAR/NCAR/UOP community that is responsible for making a resource available</xs:documentation>
		</xs:annotation>	
		<xs:sequence>
			<xs:element name="recordID" type="xs:string" minOccurs="1" maxOccurs="1"/><!--DCS completes-->
			<xs:element name="dateCataloged" type="xs:date" minOccurs="0" maxOccurs="1"/> <!--DCS completes-->
			<xs:element name="URL" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="volume" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="issue" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="source" type="xs:string" minOccurs="0" maxOccurs="unbounded"/> 
			<xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="unbounded" /> 
			<xs:element name="altTitle" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="earlierTitle" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="laterTitle" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="creator" type="xs:string" minOccurs="0" maxOccurs="unbounded"/> 
			<xs:element name="contributor" type="xs:string" minOccurs="0" maxOccurs="unbounded"/> 
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/> 
			<xs:element name="date" type="union.dateType" minOccurs="0" maxOccurs="unbounded"/> 
			<xs:element name="dateDigitized" type="union.dateType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="subject" type="xs:string" minOccurs="0" maxOccurs="unbounded"/> 
			<xs:element name="instName" type="instNameType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="instDivision" type="instDivisionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="libraryType" type="libraryType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="otherType" type="union.typeVocabType" minOccurs="0" maxOccurs="unbounded"/> 
			<xs:element name="format" type="xs:string" minOccurs="0" maxOccurs="unbounded"/> 
			<xs:element name="identifier" type="xs:string" minOccurs="0" maxOccurs="unbounded"/> 
			<xs:element name="language" type="xs:string" minOccurs="0" maxOccurs="unbounded"/> 
			<xs:element name="relation" type="relationType" minOccurs="0" maxOccurs="unbounded"/> 
			<xs:element name="coverage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/> 
			<xs:element name="rights" type="rightsType" minOccurs="0" maxOccurs="unbounded"/> 
			<xs:element name="publisher" type="xs:string" minOccurs="0" maxOccurs="unbounded"/> 
<!--Waiting approval to activate
			<xs:element name="mimeType" type="union.mimeTypeType" minOccurs="0" maxOccurs="unbounded"/> 
-->
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="rightsType">
		<xs:annotation>
			<xs:documentation>*****  rightsType  ******</xs:documentation>
			<xs:documentation>status - a refinement of rights that indications a restriction on use, availability or viewing ability</xs:documentation>
		</xs:annotation>	
		<xs:simpleContent>
			<xs:extension base="stringTextType">
				<xs:attribute name="status" type="rightsStatusType" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="relationType">
		<xs:annotation>
			<xs:documentation>*****  relationType  ******</xs:documentation>
			<xs:documentation>type - the kind of relationship between related resources</xs:documentation>
			<xs:documentation>title - the title or name of the related resource</xs:documentation>
			<xs:documentation>url - the web location of the related resource</xs:documentation>
		</xs:annotation>	
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="relationTypeType" use="required"/>
				<xs:attribute name="title" type="xs:string" use="optional"/>
				<xs:attribute name="url" type="urlType" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>


	<xs:annotation>
		<xs:documentation>*************************************************</xs:documentation>
		<xs:documentation>*****  SIMPLE TYPES (alpha order)   *****</xs:documentation>
		<xs:documentation>*************************************************</xs:documentation>
		<xs:documentation>urlType - uses regular expressions to define an acceptable URL; this version allows port numbers, underscores, dashes but no spaces in domain or directory part</xs:documentation>
		<xs:documentation>date - in the format of YYYY-MM-DD, YYYY-MM, YYYYY, YYYY-MM-DDTHH:DD:SS</xs:documentation>
		<xs:documentation>mimeType - mime type of the resource</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="urlType">
		<xs:annotation>
			<xs:documentation>Sources for constructing the pattern</xs:documentation>
			<xs:documentation>http://geekswithblogs.net/casualjim/archive/2005/12/01/61722.aspx; ^((ht|f)tp(s?)\:\/\/|~/|/)?([\w]+:\w+@)?([a-zA-Z]{1}([\w\-]+\.)+([\w]{2,5}))(:[\d]{1,5})?((/?\w+/)+|/?)(\w+\.[\w]{3,4})?((\?\w+=\w+)?(&amp;\w+=\w+)*)?</xs:documentation>
			<xs:documentation>http://www.nshb.net/node/252; /^(http|https):\/\/[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(([0-9]{1,5})?\/.*)?$/ix
</xs:documentation>
			<xs:documentation>http://java.sun.com/j2se/1.5.0/docs/api/java/util/regex/Pattern.html</xs:documentation>
			<xs:documentation>http://www.dotnetcoders.com/web/Learning/Regex/exHrefExtractor.aspx</xs:documentation>
			<xs:documentation>In XML schema, there are no ^ or $ characters to limit a match to the beginning or end of of a line as there are in Perl. So removed ^, $ and escaped slashes.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(http://|https://|ftp://)+([a-zA-Z0-9])+([\-\.]{1}[a-zA-Z0-9]+)*\.[a-zA-Z]{2,5}((:[0-9]{1,5})?/.*)?"/> 
			<!--allows port numbers, underscores, dashes but no spaces in domain or directory part-->
		</xs:restriction>
	</xs:simpleType> 

	<xs:simpleType name="union.dateType">
		<xs:union memberTypes="xs:date xs:gYear xs:gYearMonth xs:dateTime"/>
	</xs:simpleType>

	<xs:simpleType name="union.mimeTypeType">
<!--		<xs:union memberTypes="mimeTypeType xs:string"/>-->
		<xs:union memberTypes="mimeTypeType"/>
	</xs:simpleType>

	<xs:simpleType name="stringTextType">
	<xs:annotation>
		<xs:documentation>Use this patterned string to ensure that a null tag is not valid string content.</xs:documentation>
		<xs:documentation>Note: that xs:string allows content to be null even if the element is required.</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:pattern value=".[\S\s]*"/>
<!--			<xs:pattern value="(.)+"/> does not allow carriage returns -->
	</xs:restriction>
</xs:simpleType>

	<xs:annotation>
		<xs:documentation>*******************************************</xs:documentation>
		<xs:documentation>***** SCHEMA DEVELOPMENT  *****</xs:documentation>
		<xs:documentation>*******************************************</xs:documentation>
		<xs:documentation>Created: 2008-08-27</xs:documentation>
		<xs:documentation>Last Modified 2009-04-27</xs:documentation>

		<xs:documentation>**********************************</xs:documentation>
		<xs:documentation>***** SCHEMA AUTHOR  *****</xs:documentation>
		<xs:documentation>**********************************</xs:documentation>
		<xs:documentation>Katy Ginger, University Corporation for Atmospheric Research (UCAR), ginger@ucar.edu</xs:documentation>

		<xs:documentation>****************************************************************</xs:documentation>
		<xs:documentation>*****  COPYRIGHT and LICENSE INFORMATION  *****</xs:documentation>
		<xs:documentation>****************************************************************</xs:documentation>
		<xs:documentation>See LICENSE AND COPYRIGHT below.</xs:documentation>
	</xs:annotation>
</xs:schema>
<!--LICENSE AND COPYRIGHT
The contents of this file are subject to the Educational Community License v1.0 (the "License"); you may not use this file except in compliance with the License. You should obtain a copy of the License from http://www.opensource.org/licenses/ecl1.php. Files distributed under the License are distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for the specific language governing rights and limitations under the License. Copyright 2002-2009 by Digital Learning Sciences, University Corporation for Atmospheric Research (UCAR). All rights reserved.-->