frameworks-project/frameworks/vocabs/1.0/schemas/vocab.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://nldr.library.ucar.edu/metadata/osm" targetNamespace="http://nldr.library.ucar.edu/metadata/osm" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00">
	<xs:annotation>
		<xs:documentation>********************************************</xs:documentation>
		<xs:documentation>***** SCHEMA DEVELOPMENT  *****</xs:documentation>
		<xs:documentation>********************************************</xs:documentation>
		<xs:documentation>Created: 2011-03-10</xs:documentation>
		<xs:documentation>Author: Katy Ginger, University Corporation for Atmospheric Research (UCAR), anguyen@ucar.edu and ginger@ucar.edu</xs:documentation>
		<xs:documentation>Purpose: </xs:documentation>
		<xs:documentation>Copyright for this file: See LICENSE AND COPYRIGHT at the end of this file.</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>******************************************************</xs:documentation>
		<xs:documentation>***** INCLUDED/ IMPORTED SCHEMAS  *****</xs:documentation>
		<xs:documentation>******************************************************</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../../../osm/1.1/schemas/vocabs/pubNameType.xsd"/>
	<xs:annotation>
		<xs:documentation>****************************************************</xs:documentation>
		<xs:documentation>*****  COMPLEX TYPES (alpha order)   *****</xs:documentation>
		<xs:documentation>****************************************************</xs:documentation>
		<xs:documentation>vocabTermRecordType - the ROOT type</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>*********************************</xs:documentation>
		<xs:documentation>*****  ROOT ELEMENT *****</xs:documentation>
		<xs:documentation>*********************************</xs:documentation>
		<xs:documentation>teach is the root element.</xs:documentation>
	</xs:annotation>
	<xs:element name="vocabTerm" type="vocabTermRecordType"/>

	<xs:complexType name="vocabTermRecordType">
		<xs:annotation>
			<xs:documentation>*****  vocabTermRecordType  *****</xs:documentation>
			<xs:documentation>vocabTermRecordType - the type for the root element</xs:documentation>
			<xs:documentation>recordID - a unique identification number used to identify an individual record</xs:documentation>
			<xs:documentation>recordDate - calendar date for the creation or modification of the metadata record</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="recordID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="recordDate" type="dateType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="recordCreator" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="recordsAffected" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fullName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="citationAbbreviation" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="type" type="union.typeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sourceInfo" type="sourceInfoType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="validDates" type="validDatesType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="otherRecords" type="otherRecordsType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="otherNames" type="otherNamesType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="otherNotes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="authorityType">
		<xs:annotation>
			<xs:documentation>*****  authorityType  *****</xs:documentation>
			<xs:documentation>xx - xx</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="authorityOrgType">
				<xs:attribute name="id" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="dateType">
		<xs:annotation>
			<xs:documentation>*****  dateType  *****</xs:documentation>
			<xs:documentation>dateType - calendar date for the creation or modification of the metadata record</xs:documentation>
			<xs:documentation>created - the creation date of the ,metadata record</xs:documentation>
			<xs:documentation>modified	- the modification date of the metadat record</xs:documentation>
		</xs:annotation>
		<xs:attribute name="created" type="union.dateType" use="required"/>
		<xs:attribute name="modified" type="union.dateType" use="optional"/>
	</xs:complexType>

	<xs:complexType name="otherNamesType">
		<xs:annotation>
			<xs:documentation>*****  otherNamesType  *****</xs:documentation>
			<xs:documentation>xx - xx</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="stringTextType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="otherRecordsType">
		<xs:annotation>
			<xs:documentation>*****  otherRecordsType  *****</xs:documentation>
			<xs:documentation>otherRecordsType - use for tracking the relationship of the term to other terms that were once part of or are part of the controlled vocabulary</xs:documentation>
			<xs:documentation>replaceWith - the term in the current record should be deleted as a term from the controlled vocabulary and replaced with the term identfied by the indicated record id number</xs:documentation>
			<xs:documentation>supersedes - the term in the current record is supersedes (e.g. newer) than another controlled vocabulary term identified by the indicated record id number.  However, the term in the indicated record still needs to be part of the controlled vocabulary because some resource records need to use it.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="replaces" type="recordIDType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="supersedes" type="recordIDType" minOccurs="0" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="sourceInfoType">
		<xs:annotation>
			<xs:documentation>*****  sourceInfoType  *****</xs:documentation>
			<xs:documentation>xx - xx</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateVerified" type="union.dateType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="authority" type="authorityType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="validDatesType">
		<xs:annotation>
			<xs:documentation>*****  validDatesType  *****</xs:documentation>
			<xs:documentation>xx - xx</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="start" type="union.dateType" use="required"/>
				<xs:attribute name="end" type="union.dateType" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>


	<xs:annotation>
		<xs:documentation>***********************************************</xs:documentation>
		<xs:documentation>***** Simple Types (alpha order) *********</xs:documentation>
		<xs:documentation>***********************************************</xs:documentation>
		<xs:documentation>stringTextType - a pattern used to exclude null content from strings</xs:documentation>
		<xs:documentation>union.dateType - calendar dates of the form YYYY, YYYY-MM, YYYY-MM-DD; part of annotationRecordType</xs:documentation>
		<xs:documentation>union.idTypeType - see definition below; part of idElementType</xs:documentation>
		<xs:documentation>union.userIDtypeType - see definition below; part of userIDType</xs:documentation>
		<xs:documentation>urlType - enforces a URL format as content</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="stringTextType">
		<xs:annotation>
			<xs:documentation>stringTextType - a regular expression that enforce the presence of content (text or elements)</xs:documentation>
			<xs:documentation>Pattern \s*.[\S\s]* ensures that a null tag is not valid string content</xs:documentation>
			<xs:documentation>Pattern \s*.[\S\s]* allows leading blank characters and leading carriage returns</xs:documentation>
			<xs:documentation>Pattern .[\S\s]* ensures that a null tag is not valid string content</xs:documentation>
			<xs:documentation>Pattern .[\S\s]* does not allow leading blank characters or carriage returns</xs:documentation>
			<xs:documentation>Pattern .*\S+[\s\S]* ensures that a null tag is not valid string content</xs:documentation>
			<xs:documentation>Pattern .*\S+[\s\S]* allows leading blank characters but not leading carriage returns</xs:documentation>
			<xs:documentation>Note: that xs:string allows content to be null even if the element is required</xs:documentation>
			<xs:documentation>Note: that xs:string with nillable equal false allows content to be null even if the element is required
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value=".[\S\s]*"/>
			<!--		<xs:pattern value="\s*.[\S\s]*" />-->
			<!--		<xs:pattern value=".[\S\s]*"/>-->
			<!--		<xs:pattern value=".*\S+[\s\S]*"/> -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="union.dateType">
		<xs:annotation>
			<xs:documentation>
				union.dateType - calendar dates of the form YYYY, YYYY-MM, YYYY-MM-DD or YYYY-MM-DDThh:mm:ss
			</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:date xs:gYearMonth xs:gYear xs:dateTime"/>
	</xs:simpleType>


	<xs:simpleType name="eventOrInstNameType">
		<xs:annotation>
			<xs:documentation>eventOrInstNameType - union of two text terms for event and instName</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Event"/>
			<xs:enumeration value="Institutional name"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="authorityOrgType">
		<xs:annotation>
			<xs:documentation>authorityOrgType - union of two text terms for event and instName</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="LOC"/>
			<xs:enumeration value="NCAR Library"/>
			<xs:enumeration value="Organization website"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="recordIDType">
		<xs:annotation>
			<xs:documentation>enforces a recorID that looks like ABC-000-000-000-001 or ABC-EFG-000-000-000-001</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\S+\-[0-9]{3}-[0-9]{3}-[0-9]{3}-[0-9]{3}"/> 
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="union.typeType">
		<xs:annotation>
			<xs:documentation>union.typeType - union of eventOrInstNameType and pubNameType</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="pubNameTypeType eventOrInstNameType"/>
	</xs:simpleType>

	<xs:simpleType name="urlType">
		<xs:annotation>
			<xs:documentation>Sources for constructing the pattern</xs:documentation>
			<xs:documentation>
				http://www.nshb.net/node/252; /^(http|https):\/\/[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(([0-9]{1,5})?\/.*)?$/ix
			</xs:documentation>
			<xs:documentation>
				http://java.sun.com/j2se/1.5.0/docs/api/java/util/regex/Pattern.html
			</xs:documentation>
			<xs:documentation>
				http://www.dotnetcoders.com/web/Learning/Regex/exHrefExtractor.aspx
			</xs:documentation>
			<xs:documentation>
				In XML schema, there are no ^ or $ characters to limit a match to the beginning or end of of a line as there are in Perl. So removed ^, $ and escaped slashes.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(http://|https://|ftp://)+([a-zA-Z0-9])+([\-\.]{1}[a-zA-Z0-9]+)*\.[a-zA-Z]{2,5}((:[0-9]{1,5})?/.*)?"/>
			<!--
allows port numbers, dashes but no spaces or underscores in domain or directory part
-->
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
<!--
LICENSE AND COPYRIGHT
The contents of this file are subject to the Educational Community License v1.0 (the "License"); you may not use this file except in compliance with the License. You should obtain a copy of the License from http://www.opensource.org/licenses/ecl1.php. Files distributed under the License are distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for the specific language governing rights and limitations under the License. Copyright 2002-2009 by Digital Learning Sciences, University Corporation for Atmospheric Research (UCAR). All rights reserved.
-->
