frameworks-project/frameworks/adn/0.6.50/schemas/fields/union-vocabs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: union-vocabs.xsd,v 1.1 2009/01/30 21:35:44 ginger Exp $ -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1.01">
	<xsd:annotation>
		<xsd:documentation>*****  SCHEMA PURPOSE  *****</xsd:documentation>
		<xsd:documentation>Controlled vocabulary schema for metadata-ui management</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>*****  HISTORY *****</xsd:documentation>
		<xsd:documentation>2004-07-27: Added news and opps vocab files</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>***** LICENSE INFORMATION *****</xsd:documentation>
		<xsd:documentation>Copyright 2002, 2003, 2004 DLESE Program Center
		University Corporation for Atmospheric Research (UCAR)
		P.O. Box 3000, Boulder, CO 80307, United States of America
		email: support@dlese.org</xsd:documentation>
		<xsd:documentation>These schemas are free software; you can redistribute them and/or modify them under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version.  These schemas are distributed in the hope that they will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have received a copy of the GNU General Public License along with this project; if not, write to the Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>*****  ROOT ELEMENT ********</xsd:documentation>
		<xsd:documentation>This schema does not containt the root element of the instance document</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>*******  VOCABULARY schemas for the ADN framework *********</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/beneficiaryDLESE.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/beneficiaryGEM.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/coordinateDLESE.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/costDLESE.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/defaults.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/geodeticDatumGlobalOrHorzDLESE.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/geodeticDatumGlobalOrVertDLESE.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/geoPtOrder.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/gradeRangeDLESE.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/interactivityLevelLOM.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/interactivityTypeLOM.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/kindDC.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/kindDLESE.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/nameTitle.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/objectTypeDLESE.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/planet.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/projectionDLESE.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/requirementTypeDLESE.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/resourceTypeDC.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/resourceTypeDLESE.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/roleLifecycle.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/roleMetaMetadata.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/standardsAAASbenchmarksContentCommon.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/standardsAAASbenchmarksContentDesigned.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/standardsAAASbenchmarksContentHabits.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/standardsAAASbenchmarksContentHistorical.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/standardsAAASbenchmarksContentHuman.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/standardsAAASbenchmarksContentLiving.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/standardsAAASbenchmarksContentMath.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/standardsAAASbenchmarksContentPhysical.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/standardsAAASbenchmarksContentScience.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/standardsAAASbenchmarksContentTechnology.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/standardsNCGE.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/standardsNCTMcontent.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/standardsNCTMprocess.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/standardsNETScontent.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/standardsNETSteaching.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/standardsNSEScontent.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/standardsNSESteaching.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/status.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/subjectDLESE.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/subjectOtherDLESE.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/teachingMethodDLESE.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/teachingMethodGEM.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/timeUnits.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/toolForDLESE.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/toolForGEM.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/typeDetGeo.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/vertBase.xsd"/>
	<xsd:include schemaLocation="http://www.dlese.org/Metadata/adn-item/current/vocabs/verticalUnits.xsd"/>
	<xsd:annotation>
		<xsd:documentation>******    Simple Types (alpha order)  *****</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="stringTextType">
		<xsd:annotation>
			<xsd:documentation>Use this patterned string to ensure that a null tag is not valid string content.</xsd:documentation>
			<xsd:documentation>Note: that xsd:string allows content to be null even if the element is required.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".[\S\s]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:annotation>
		<xsd:documentation>******  Union Types (alpha order) ******</xsd:documentation>
		<xsd:documentation>These simple types are composed of union or member types</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="union.beneficiaryType">
		<xsd:union memberTypes="DLESEbeneficiaryType GEMbeneficiaryType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.beneficiaryLeafType">
		<xsd:union memberTypes="DLESEbeneficiaryLeafType GEMbeneficiaryLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.contentStandardType">
		<xsd:union memberTypes="NCGEgeographyContentStandardsType NCTMmathContentStandardsType NSESscienceContentStandardsType AAAScontentCommonType AAAScontentDesignedType AAAScontentHabitsType AAAScontentHistoricalType AAAScontentHumanType AAAScontentLivingType AAAScontentMathType AAAScontentPhysicalType AAAScontentScienceType AAAScontentTechnologyType NETStechnologyContentStandardsType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.contentStandardLeafType">
		<xsd:union memberTypes="NCGEgeographyContentStandardsLeafType NCTMmathContentStandardsLeafType NSESscienceContentStandardsLeafType AAAScontentCommonLeafType AAAScontentDesignedLeafType AAAScontentHabitsLeafType AAAScontentHistoricalLeafType AAAScontentHumanLeafType AAAScontentLivingLeafType AAAScontentMathLeafType AAAScontentPhysicalLeafType AAAScontentScienceLeafType AAAScontentTechnologyLeafType NETStechnologyContentStandardsLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.coordinateSystemType">
		<xsd:union memberTypes="DLESEcoordinateType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.coordinateSystemLeafType">
		<xsd:union memberTypes="DLESEcoordinateLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.costType">
		<xsd:union memberTypes="DLESEcostType suppliedType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.costLeafType">
		<xsd:union memberTypes="DLESEcostLeafType suppliedLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.defaultsType">
		<xsd:union memberTypes="missingType notapplicableType unknownType suppliedType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.defaultsLeafType">
		<xsd:union memberTypes="missingLeafType notapplicableLeafType unknownLeafType suppliedLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.geodeticDatumGlobalOrHorzType">
		<xsd:union memberTypes="DLESEgeodeticDatumGlobalOrHorzType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.geodeticDatumGlobalOrHorzLeafType">
		<xsd:union memberTypes="DLESEgeodeticDatumGlobalOrHorzLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.geodeticDatumGlobalOrVertType">
		<xsd:union memberTypes="DLESEgeodeticDatumGlobalOrVertType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.geodeticDatumGlobalOrVertLeafType">
		<xsd:union memberTypes="DLESEgeodeticDatumGlobalOrVertLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.gradeRangeType">
		<xsd:union memberTypes="DLESEgradeRangeType suppliedType notapplicableType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.gradeRangeLeafType">
		<xsd:union memberTypes="DLESEgradeRangeLeafType suppliedLeafType notapplicableLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.interactivityLevelType">
		<xsd:union memberTypes="LOMinteractivityLevelType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.interactivityLevelLeafType">
		<xsd:union memberTypes="LOMinteractivityLevelLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.interactivityTypeType">
		<xsd:union memberTypes="LOMinteractivityTypeType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.interactivityTypeLeafType">
		<xsd:union memberTypes="LOMinteractivityTypeLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.kindType">
		<xsd:union memberTypes="DLESEkindType DCkindType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.kindLeafType">
		<xsd:union memberTypes="DLESEkindLeafType DCkindLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.objectTypeType">
		<xsd:union memberTypes="DLESEobjectTypeType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.objectTypeLeafType">
		<xsd:union memberTypes="DLESEobjectTypeLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.processStandardType">
		<xsd:union memberTypes="NCTMmathProcessStandardsType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.processStandardLeafType">
		<xsd:union memberTypes="NCTMmathProcessStandardsLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.projectionType">
		<xsd:union memberTypes="DLESEprojectionTypesType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.projectionLeafType">
		<xsd:union memberTypes="DLESEprojectionTypesLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.resourceTypeType">
		<xsd:union memberTypes="DLESEresourceTypeType suppliedType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.resourceTypeLeafType">
		<xsd:union memberTypes="DLESEresourceTypeLeafType suppliedLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.reqTypeType">
		<xsd:union memberTypes="DLESEreqTypeType suppliedType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.reqTypeLeafType">
		<xsd:union memberTypes="DLESEreqTypeLeafType suppliedLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.subjectType">
		<xsd:union memberTypes="DLESEsubjectType suppliedType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.subjectLeafType">
		<xsd:union memberTypes="DLESEsubjectLeafType suppliedLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.teachingStandardType">
		<xsd:union memberTypes="NSESscienceTeachingStandardsType NETStechnologyTeachingStandardsType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.teachingStandardLeafType">
		<xsd:union memberTypes="NSESscienceTeachingStandardsLeafType NETStechnologyTeachingStandardsLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.teachingMethodType">
		<xsd:union memberTypes="DLESEteachingMethodType GEMteachingMethodType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.teachingMethodLeafType">
		<xsd:union memberTypes="DLESEteachingMethodLeafType GEMteachingMethodLeafType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.toolForType">
		<xsd:union memberTypes="DLESEtoolForType GEMtoolForType"/>
	</xsd:simpleType>
	<xsd:simpleType name="union.toolForLeafType">
		<xsd:union memberTypes="DLESEtoolForLeafType GEMtoolForLeafType"/>
	</xsd:simpleType>
</xsd:schema>
