frameworks-project/frameworks/groups/2.0/schemas/groups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: groups.xsd,v 1.3 2010/09/10 17:34:36 ginger Exp $ -->
<xs:schema targetNamespace="http://www.dlsciences.org/frameworks/fields" xmlns="http://www.dlsciences.org/frameworks/fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>**********************</xs:documentation>
		<xs:documentation>***** HISTORY  *****</xs:documentation>
		<xs:documentation>**********************</xs:documentation>
	</xs:annotation>

	<xs:annotation>
		<xs:documentation>******************************************</xs:documentation>
		<xs:documentation>***** SCHEMAS TO INCLUDE  *****</xs:documentation>
		<xs:documentation>*******************************************</xs:documentation>
		<xs:documentation>contents.xsd - contains the elements and attributes that define the OPML 2.0 specification</xs:documentation>
		<xs:documentation>outlineAttributes.xsd - contains groups OPML-specific attributes for the OPML outline element</xs:documentation>
		<xs:documentation>concept.xsd - contains groups OPML-specific elements to include in OPML</xs:documentation>
		<xs:documentation>moreTypes.xsd - lists groups OPML-specific terms for the type attribute</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="categories/concept.xsd"/>
	<xs:include schemaLocation="categories/outlineAttributes.xsd"/>
	<xs:include schemaLocation="categories/contents.xsd"/>
	<xs:include schemaLocation="categories/moreTypes.xsd"/>

	<xs:annotation>
		<xs:documentation>*********************************************</xs:documentation>
		<xs:documentation>***** ROOT ELEMENT DEFINED  *****</xs:documentation>
		<xs:documentation>*********************************************</xs:documentation>
	</xs:annotation>

	<xs:element name="opml" type="opmlType"/>

	<xs:annotation>
		<xs:documentation>***************************************************</xs:documentation>
		<xs:documentation>*****  COMPLEX TYPES (alpha order)   *****</xs:documentation>
		<xs:documentation>***************************************************</xs:documentation>
		<xs:documentation>groups-bodyType - is the main content of an OPML document with groups OPML extensions</xs:documentation>
		<xs:documentation>groups-headType - provides title, date and window information of OPML with groups OPML extensions</xs:documentation>
		<xs:documentation>groups-outlineType - the distinct pieces of content for OPML with groups OPML extensions</xs:documentation>
		<xs:documentation>opmlType - is root element type</xs:documentation>
	</xs:annotation>

	<xs:complexType name="groups-bodyType">
		<xs:sequence>
			<xs:element name="outline" type="groups-outlineType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="groups-headType">
		<xs:complexContent>
			<xs:extension base="headType">
				<xs:sequence>
				<xs:element ref="concept"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="groups-outlineType" mixed="true">
		<xs:complexContent>
			<xs:extension base="outlineType">
				<xs:sequence>
					<xs:element name="outline" type="groups-outlineType" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
				<xs:attributeGroup ref="outlineAttributes"/>
				<xs:attributeGroup ref="moreTypes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="opmlType">
		<xs:sequence>
			<xs:element name="head" type="groups-headType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="body" type="groups-bodyType" minOccurs="0" maxOccurs="1"/> <!--made body optional on 2010-09-10-->
			<xs:element name="bestPractices" type="gbestPracticesType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="version" type="versionType" use="required"/>
	</xs:complexType>


	<xs:annotation>
		<xs:documentation>**********************************</xs:documentation>
		<xs:documentation>***** SCHEMA PUPOSE *****</xs:documentation>
		<xs:documentation>**********************************</xs:documentation>
		<xs:documentation>Define an OPML 2.0 file format with specific extensions in a separate namespace</xs:documentation>
		<xs:documentation>This extended OPML 2.0 format is referred to as 'groups OPML'</xs:documentation>
		<xs:documentation>Define a namespace for OPML 2.0 elements and attributes (see namespace section below)</xs:documentation>
		<xs:documentation>Define a namespace for groups OPML extensions (see namespace section below)</xs:documentation>
		<xs:documentation>OPML stands for Outline Processor Markup Language and is used for exchanging information between outliners and Internet services. It is intended to be the file format for outliner applications. It can also be used to exchange subscription lists between feed readers and aggregators.</xs:documentation>
		<xs:documentation>The groups OPML are used as user interfaces grouping and ordering mechanisms for this organization's metadata fields and controlled vocabulary terms</xs:documentation>
		<xs:documentation> The groups OPML is also used to provide information this organization's web services</xs:documentation>

		<xs:documentation>*******************************</xs:documentation>
		<xs:documentation>*****SCHEMA INTENT  *****</xs:documentation>
		<xs:documentation>*******************************</xs:documentation>
		<xs:documentation>Be an overarching schema that defines the root element of the groups OPML that are based on OPML 2.0 </xs:documentation>
		<xs:documentation>Groups OPML specific elements and attributes extend base OPML 2.0 elements</xs:documentation>
		<xs:documentation>A schema (see schemas to include) is called that defines base OPML 2.0 elements/attributes</xs:documentation>

		<xs:documentation>******************************</xs:documentation>
		<xs:documentation>*****  NAMESPACES  *****</xs:documentation>
		<xs:documentation>******************************</xs:documentation>
		<xs:documentation>This schema has a target namespaces of: http://www.dlese.org/Metadata/opml</xs:documentation>
		<xs:documentation>This schema has a default namespace of: http://www.dlese.org/Metadata/opml</xs:documentation>
		<xs:documentation>Namespace defaulting is used to suppress the need to the qualify base OPML 2.0 elements</xs:documentation>
		<xs:documentation>Groups OPML-specific elements/attributes use namespace: groups="http://www.dlese.org/Metadata/ui/groups</xs:documentation>
		<xs:documentation>Groups OPML-specific elements are qualified; groups OPML-specific attributes on base OPML elements are qualified</xs:documentation>

		<xs:documentation>********************************</xs:documentation>
		<xs:documentation>*****  ROOT ELEMENT *****</xs:documentation>
		<xs:documentation>********************************</xs:documentation>
		<xs:documentation>This schema has a root element of: opml</xs:documentation>
		<xs:documentation>See the root element defined section</xs:documentation>
		<xs:documentation>Included schemas do not have a root element</xs:documentation>
		
		<xs:documentation>*******************************************</xs:documentation>
		<xs:documentation>***** SCHEMA DEVELOPMENT  *****</xs:documentation>
		<xs:documentation>*******************************************</xs:documentation>
		<xs:documentation>Tends to follow the Venetian Blind approach that defines types that can be extended</xs:documentation>
		<xs:documentation>Interprets the OPML 2.0 specification by Dave Winer found at: http://www.opml.org/spec2</xs:documentation>
		<xs:documentation>Created: 2006-04-20</xs:documentation>
		<xs:documentation>Last Modified 2006-04-21</xs:documentation>

		<xs:documentation>**********************************</xs:documentation>
		<xs:documentation>***** SCHEMA AUTHOR  *****</xs:documentation>
		<xs:documentation>**********************************</xs:documentation>
		<xs:documentation>Katy Ginger, University Corporation for Atmospheric Research (UCAR)</xs:documentation>


		<xs:documentation>*******************************************</xs:documentation>
		<xs:documentation>*****  LICENSE INFORMATION  *****</xs:documentation>
		<xs:documentation>*******************************************</xs:documentation>
		<xs:documentation>Copyright  (c) 2008 Digital Learning Sciences, University Corporation for Atmospheric Research (UCAR) P.O. Box 3000, Boulder, CO 80307, United States of America</xs:documentation>
		<xs:documentation>This schema is free software; you can redistribute them and/or modify them under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version. These schemas are distributed in the hope that they will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have received a copy of the GNU General Public License along with this project; if not, write to the Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA</xs:documentation>

		<xs:documentation>******************************************************</xs:documentation>
		<xs:documentation>*****  OTHER COPYRIGHT INFORMATION  *****</xs:documentation>
		<xs:documentation>******************************************************</xs:documentation>
		
		<xs:documentation>Parts of this page are copied and developed from Dave Winer's OPML specification found at: http://www.opml.org/spec2. Per the request of that document, its copyright notice is included here and applies to information in this directory and corresponding subdirectories:

&#169; Copyright 2000 UserLand Software, Inc. All Rights Reserved.
&#169; Copyright 2006 Scripting News, Inc. All Rights Reserved.

UserLand Software, Inc. and Scripting News, Inc. are refererred to in the following as "the Companies."

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and these paragraphs are included on all such copies and derivative works. 

This document may not be modified in any way, such as by removing the copyright notice or references to the Companies or other organizations. Further, while these copyright restrictions apply to the written OPML specification, no claim of ownership is made by the Companies to the format it describes. Any party may, for commercial or non-commercial purposes, implement this format without royalty or license fee to the Companies. The limited permissions granted herein are perpetual and will not be revoked by the Companies or their successors or assigns.

This document and the information contained herein is provided on an "AS IS" basis and THE COMPANIES DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.</xs:documentation>
	</xs:annotation>
</xs:schema>
